article.hero {
  left: 0;
  padding: $margin-default $margin-default/2;
  position: relative;
  top: 0;

  section {
    position: relative;
    z-index: 2;
  }
}

article.hero.hero-home {
  text-align: center;
  @include respond-to('tiny') {
    p {
      font-size: 18 * $pxfont;
    }
  }
  @include respond-to('xsmall') {
    padding: $margin-default*2 $margin-default;
    p {
      font-size: 24 * $pxfont;
    }
  }
  @include respond-to('small') {
    padding: $margin-default*3 $margin-default;
  }
  @include respond-to('medium') {
    padding: $margin-default*5 $margin-default;
  }
  @include respond-to('large') {
    padding: $margin-default*6 $margin-default;
  }
}

article.hero.hero-project {
  padding:  $margin-default/2;

  @include respond-to('xsmall') {
    padding: $margin-default;
  }
  @include respond-to('small') {
    padding-top: $margin-default*2;
  }

  section {
    margin: 0 auto;
    max-width: $containermax/1.29;
  }

  img {
    height: auto;
    margin-bottom: $margin-default/2;
    max-width: 720px;
    width: 100%;
  }

  ul.skills-pills {
    display: block;
    font-family: $font-stack-display;
    font-weight: $light;
    line-height: 1;
    list-style-type: none;
    margin: 0;

    li {
      background: $color-neutral-light;
      border: 0;
      border-radius: 25*$pxfont;
      color: $color-neutral-dark;
      display: inline-block;
      margin-bottom: $margin-default/2;
      margin-right: $margin-default/4;
      padding: $margin-default/4 $margin-default/4;
    }
  }
}

.hero-video-wrapper {
  background-color: $color-black;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  @include respond-to('xsmall') {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .45);
    }
  }
  video {
    display: none;
    @include respond-to('xsmall') {
      display: block; //height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
