main {
  overflow: hidden;
  
  article {
    padding: $margin-default/2;

    section {
      margin: 0 auto;
      max-width: $containermax;
    }
  }

  ul {
    margin-left: $margin-default/2;
  }

  .container {
    margin: 0 auto;
  }
}