<header class="site-header">
  <div class="site-header-container">
    <section>
      <a routerLink="/" title="Home">
        <div class="primary">Steve Martinez</div>
        <div class="secondary">Web Developer</div>
      </a>
    </section>
    <nav>
      <ul>
        <li><a routerLink="projects" routerLinkActive="active" title="View my Projects">Projects</a></li>
        <li><a routerLink="skills" routerLinkActive="active" title="View my Skills">Skills</a></li>
        <li><a href="https://www.linkedin.com/in/stevenmartinez/" target="_blank" rel="noopener">Connect</a></li>
      </ul>
    </nav>
  </div>
</header>
