@media screen { /* Mobile first */

	/* Screen styles only - separate from print styles */
	
	html, body {
		font: 100%/1.6125 'Noto Sans', Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	h1, h2, h3, h4, h5, h6, label {
		color: inherit;
		font-family: 'Encode Sans Condensed', sans-serif;
		font-weight: 400;
	}

	button {
		word-wrap: break-word;
	}

	p, code, blockquote {  
		color: inherit;
		margin: 0 0 3rem;
	}

	p, dl, dd, ul, ol, li {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}

	p+p, dl+dl, dd+dt, li+li { 
		margin-top: -0.7500rem; 
	}

	code,
	pre {
		font-family: 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
		line-height: 1;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}


	h1 { font-size: 2.2500rem;	line-height: 1.25;	margin-bottom: 1.0rem;	}
	h2 { font-size: 1.8750rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h3 { font-size: 1.5000rem;	line-height: 1.25;	margin-bottom: 0.5rem;	}
	h4 { font-size: 1.3125rem;	line-height: 1.25;	margin-bottom: 0.5rem; 	}
	h5 { font-size: 1.1250rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h6 { font-size: 1.0000rem;  line-height: 1.25;  margin-bottom: 0.5rem;	}


	strong, dt { font-weight: 700; }
	em { font-style: italic; }
	sup {
		font-size: 0.88rem;
		position: relative;
		top: 2px;
		vertical-align: top;
	}

	hr {
		background: #0e0e0e;
		border: 0;
    height: 1px;
	 }

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 640px) {
	h1 { font-size: 3.0000rem;	line-height: 1.25;	margin-bottom: 1.0rem;	}
	h2 { font-size: 2.2500rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h3 { font-size: 1.5000rem;	line-height: 1.25;	margin-bottom: 0.5rem;	}
	h4 { font-size: 1.3125rem;	line-height: 1.25;	margin-bottom: 0.5rem; 	}
	h5 { font-size: 1.1250rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h6 { font-size: 1.0000rem;  line-height: 1.25;  margin-bottom: 0.5rem;	}
}

@media only screen and (min-width: 768px) {
	
}

@media only screen and (min-width: 980px) {
	
}

@media only screen and (min-width: 1280px) {
	/*h1 { font-size: 3.7500rem;	line-height: 1.25;	margin-bottom: 1.0rem;	}
	h2 { font-size: 3.0000rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h3 { font-size: 2.2500rem;	line-height: 1.25;	margin-bottom: 0.5rem;	}
	h4 { font-size: 1.5000rem;	line-height: 1.25;	margin-bottom: 0.5rem; 	}
	h5 { font-size: 1.3125rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h6 { font-size: 1.1250rem;  line-height: 1.25;  margin-bottom: 0.5rem;	}*/
}

@media only screen and (min-width: 1600px) {
	/*h1 { font-size: 4.5000rem;	line-height: 1.25;	margin-bottom: 1.0rem;	}
	h2 { font-size: 3.7500rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h3 { font-size: 3.0000rem;	line-height: 1.25;	margin-bottom: 0.5rem;	}
	h4 { font-size: 2.2500rem;	line-height: 1.25;	margin-bottom: 0.5rem; 	}
	h5 { font-size: 1.5000rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h6 { font-size: 1.3125rem;  line-height: 1.25;  margin-bottom: 0.5rem;	}*/
}

@media only screen and (min-width: 1980px) {
    
}