<div class="grid-container-fluid">
    <div class="grid-container">
      <div class="content">
        <div class="grid-3">
          
          <div class="col">
            <div class="col-icon">
              <a class="icon" routerLink="/skills" routerLinkActive="active">
                <span class="fa-layers fa-fw">
                  <i class="fas fa-hexagon" data-fa-transform="grow-3"></i>
                  <i class="fal fa-inverse fa-file-code" data-fa-transform="shrink-6"></i>
                </span>
                <h3>Skills</h3>
              </a>
            </div>
          </div>
          
          <div class="col">
            <div class="col-icon">
              <a class="icon" routerLink="/projects" routerLinkActive="active">
                <span class="fa-layers fa-fw">
                  <i class="fas fa-hexagon" data-fa-transform="grow-3"></i>
                  <i class="fal fa-inverse fa-folder-open" data-fa-transform="shrink-6 right-1"></i>
                </span>
                <h3>Projects</h3>
              </a>
            </div>
          </div>
  
          <div class="col">
            <div class="col-icon">
              <a class="icon" href="https://www.linkedin.com/in/stevenmartinez/" target="_blank">
                <span class="fa-layers fa-fw">
                  <i class="fas fa-hexagon" data-fa-transform="grow-3"></i>
                  <i class="fal fa-inverse fa-id-card" data-fa-transform="shrink-7"></i>
                </span>
                <h3>Connect</h3>
              </a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>