<div *ngFor="let project of selectedProject">
  <article class="hero hero-projects-detail">
    <div class="container">
      <header>
        <img src="{{ project.projectHeaderImage.assets[0].url }}" title="{{ project.projectHeaderImage.assets[0].description }}">
        <h1 [innerHtml]="project.projectName.text"></h1>
      </header>
      <section>
        <ul class="skills-pills">
          <li *ngFor="let skill of project.skills.options">{{ skill.name}}</li>
        </ul>
      </section>
    </div>
  </article>
  <article class="content content-project">
    <div class="container">
      <section [innerHtml]="project.fullText.value"></section>
      <section *ngIf="hasLinks" class="links">
        <header>
          <h3>Project Links</h3>
        </header>
        <div [innerHtml]="project.links.value"></div>
      </section>
    </div>
  </article>
</div>

<div *ngIf="noProject">
  <article class="hero hero-home">
    <h1>404 Project Not Found</h1>
    <p>Sorry, the project you were trying to view no longer exists. It was nuked from orbit, just to be sure.</p>
    <a class="btn btn-solid" [routerLink]="['/projects']" routerLinkActive="router-link-active">Take me back to all the projects!</a>
  </article>
</div>
