.content a.btn,
a.btn {
  box-shadow: 0 (10*$pxfont) (15*$pxfont) rgba(0,0,0,0.67);
  cursor: pointer;
  display: inline-block;
  padding: $margin-default/4 $margin-default;
  text-align: center;
  text-decoration: none;
  width: auto;
  @include prefix('transition',all 0.2s ease-in-out);

  &.btn-solid {
    border: 2px solid $color-accent1;
    background-color: $color-accent1-darker;
    color: $color-white;
  }

  &.btn-ghost {
    border: 2px solid $color-accent1;
    background-color: transparent;
    color: $color-white;
  }

  &:hover {
    box-shadow: 0 (3*$pxfont) (5*$pxfont) rgba(0,0,0,0.90);
    background-color: $color-accent1;
  }
}
