<div class="grid-container-fluid hero-bg-reverse hero-home">
  <div class="grid-container">
    <div class="hero">
      <h1 class="buffer-top-4x">Never stop<br />
        <span id="js-herochanger">working</span><br />
        until the job is done.</h1>
    </div>
  </div>
</div>


<div class="grid-container-fluid">
  <div class="grid-container">
    <div class="content">
      <div class="content-container">
        <h2>Steve Martinez &ndash; Web Developer</h2>
        <p>My career began as a content specialist building HTML content on websites, later taking on a position to
          manage the entire website for PPG's automotive refinish business unit as an Interactive Marketing Specialist.</p>
        <p>Over time, I incorporated a number of various digital marketing concepts into the content that our website
          supported, in addition to creating an email marketing program and social media channels to round out our
          digital marketing portfolio.</p>
        <p>Eventually, I supervised a team of three digital marketing coordinators, together managing all of the
          content projects and day to day content updates and messaging for the business unit.</p>

        <h3>Growing Interest in Development</h3>
        <p>In 2014, we relaunched a redesigned website in the company's new Kentico software installation, and I began
          learning many aspects of development using Kentico's portal engine to design and develop templates using
          Kentico's own macro language (K#, a variant of C#).</p>
        <p>Over time, I have programmed and built additional websites, including the Vibrance Collection<sup>&reg;</sup>
          brand website, the Refinish Brand Assets website, and a website dedicated to support the launch of the
          business's next generation color matching hardware and software.</p>

        <h3>Future Career in Development</h3>
        <p>In order to further my career and branch out into full stack development, I've completed a coding bootcamp
          hosted at Case Western Reserve Univeristy in Cleveland, OH&mdash;as well as continuing my learning with
          online coding courses.</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-container-fluid hero-bg-reverse anim-bg featured-baseofclubs">
  <div class="grid-container">
    <div class="feature">
      <h2>Featured Project: Base of Clubs</h2>
      <p>A project created using React, Node.js, and Express using a NoSQL database.</p>
      <p class="cta"><a type="button" routerLink="projects/base-of-clubs" class="btn btn-cta-solid">In Depth</a><a type="button"
          href="https://secret-earth-54754.herokuapp.com/" class="btn btn-cta-ghost" target="_blank">Try It Out</a></p>
    </div>
  </div>
</div>

<site-partial-navicons></site-partial-navicons>