<div class="grid-container-fluid hero-bg-reverse hero-home">
  <div class="grid-container">
    <div class="hero">
      <h1 class="buffer-top-4x">Never stop<br />
        <span id="js-herochanger">working</span><br />
        until the job is done.</h1>
    </div>
  </div>
</div>

<div *ngFor="let hometext of homeTexts">

  <div class="grid-container-fluid">
    <div class="grid-container">
      <div class="content">
        <div class="content-container">

            <div [innerHtml]="hometext.introtext.value"></div>

        </div>
      </div>
    </div>
  </div>

  <div [routerLink]="['/projects',hometext.featuredProject[0].urlslug.value]" class="grid-container-fluid hero-bg-reverse anim-bg featured" [ngStyle]="{'background-image': 'url(\'' + hometext.featuredProject[0].project_header_image.assets[0].url + '\')'}">
    <div class="grid-container-fluid mask">
      <div class="grid-container">
        <div class="feature">
          <h2>Featured Project: <span [innerHtml]="hometext.featuredProject[0].project_name.text"></span></h2>
          <div [innerHtml]="hometext.featuredProject[0].short_intro.value"></div>
          <p class="cta">
            <a type="button" [routerLink]="['/projects',hometext.featuredProject[0].urlslug.value]" title="{{hometext.featuredProject[0].project_name.text}}" class="btn btn-cta-solid">In Depth</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<site-partial-navicons></site-partial-navicons>
