@import "../partials/variables";

html,
body {
  background: $color-neutral-dark;
  color: $color-neutral-light;
  font: 100%/1.5 $font-stack-body;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.flexme {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-wrapper {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  width: 100%;
}
