<article class="hero hero-projects">
  <div class="container">
    <header>
      <div class="hero-content">
        <h1>Projects</h1>
      </div>
    </header>
    <section>
      <div class="hero-content">
        <p>Various personal and work projects that I have worked on.</p>
      </div>
    </section>
  </div>
</article>
<article class="content content-grid">
  <div class="container">
    <section>
      <h2>Work Projects</h2>
      <div class="grid-item" *ngFor="let project of workProjects" (click)="onSelect(project)">
        <a [routerLink]="['/projects',project.urlslug.value]">
          <img src="{{ project.projectHeaderImage.assets[0].url }}" alt="{{ project.projectHeaderImage.assets[0].description }}" />
          <h3 [innerHtml]="project.projectName.text"></h3>
        </a>
        <span [innerHtml]="project.shortIntro.value"></span>
      </div>
    </section>
    <section>
      <h2>Personal Projects</h2>
      <div class="grid-item" *ngFor="let project of personalProjects" (click)="onSelect(project)">
        <a [routerLink]="['/projects',project.urlslug.value]">
          <img src="{{ project.projectHeaderImage.assets[0].url }}" alt="{{ project.projectHeaderImage.assets[0].description }}" />
          <h3 [innerHtml]="project.projectName.text"></h3>
        </a>
        <span [innerHtml]="project.shortIntro.value"></span>
      </div>
    </section>
  </div>
</article>
