/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol {
    list-style: initial;
}

ul {
    list-style: square;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
}

/* - Written by Steven Martinez - */

@media screen {
    /* Mobile First */
    html, body, .flexme {
        font: 100%/1.6125 'Noto Sans', Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        height: 100%;
    }
    body, .flexme {
        background: #e4f4ff;
        color: #0d0f12;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .flexme {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    /* Flexbox Footer */
    .flexfooter {
        flex: 1 0 auto;
    }
    .footer {
        flex-shrink: 0;
    }
    /* Accessibility */
    .sr {
        height: 1px;
        left: -10000px;
        overflow: hidden;
        position: absolute;
        top: auto;
        width: 1px;
    }
    .sr--tabshow:focus {
        background: #fefefe;
        display: block;
        height: auto;
        left: 0;
        padding: 0.625rem;
        position: absolute;
        text-align: center;
        top: 0;
        transition: 400;
        width: 100%;
    }

    /* Typography */
    h1, h2, h3, h4, h5, h6, label {
		color: inherit;
		font-family: 'Encode Sans Condensed', sans-serif;
		font-weight: 400;
	}

	button {
		word-wrap: break-word;
	}

	p, code, blockquote {  
		color: inherit;
		margin: 0 0 3rem;
	}

	p, dl, dd, ul, ol, li {
		font-size: 1rem;
		margin-bottom: 1.5rem;
	}

	p+p, dl+dl, dd+dt, li+li { 
		margin-top: -0.7500rem; 
	}

	code,
	pre {
		font-family: 'Lucida Console', Monaco, monospace, serif;
		font-size: 1rem;
		line-height: 1;
	}

	blockquote {
		font-style: italic;
		line-height: 1.125;
	}

	blockquote:before {
		content: "\201C";
		display: inline-block;
		padding-right: .4rem;
	}


	h1 { font-size: 2.2500rem;	line-height: 1.25;	margin-bottom: 1.0rem;	}
	h2 { font-size: 1.8750rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h3 { font-size: 1.5000rem;	line-height: 1.25;	margin-bottom: 0.5rem;	}
	h4 { font-size: 1.3125rem;	line-height: 1.25;	margin-bottom: 0.5rem; 	}
	h5 { font-size: 1.1250rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h6 { font-size: 1.0000rem;  line-height: 1.25;  margin-bottom: 0.5rem;	}


	strong, dt { font-weight: 700; }
	em { font-style: italic; }
	sup {
		font-size: 0.88rem;
		position: relative;
		top: 2px;
		vertical-align: top;
	}

	hr {
		background: #0e0e0e;
		border: 0;
    height: 1px;
	 }

    /* Custom Grid System */
    /* Containers */
    .grid-container-fluid {
        display: block;
        height: auto;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .grid-container {
        font-size: 0;
        left: 0;
        margin: 0 auto;
        position: relative;
        top: 0;
        width: 100%;
    }
    .grid-3 {
        display: block;
        width: 100%;
    }
    .grid-3>.col {
        /* full width at <480 */
        color: inherit;
        display: block;
        padding: 1rem;
        width: 100%;
    }
    .col-icon {
        display: block;
        font-size: 5rem;
        text-align: center;
        width: 100%;
    }
    .project-grid {
        align-content: stretch;
        align-items: stretch;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .project-item {
        align-items: flex-start;
        flex: 1 1 100%;
        position: relative;
    }
    .project-item img {
        border: 1px solid #cfcfcf;
        display: block;
        margin-bottom: 0.625rem;
        width: 100%;
    }
    .project-item ul {
        list-style-type: none;
    }
    /* Site Specific */
    /* Links */
    .content a {
        color: orange;
    }
    /* Header and Nav */
    .site-header-bg {
        background: #202b5b;
        color: #eff4ff;
    }
    .site-header {
        color: #fff;
        display: inline-block;
        font-size: 1rem;
        line-height: 1;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 1), 0 2px 1px rgba(0, 0, 0, 1), 0 0 5em white;
        width: 100%;
    }
    .site-header-main {
        font-family: 'Encode Sans Condensed', sans-serif;
        font-size: 1.125rem;
        text-transform: uppercase;
    }
    .site-header-sub {
        font-family: 'Noto Sans', sans-serif;
        font-size: 0.875rem;
    }
    .site-nav {
        background: #efefef;
        color: #404d5a;
        display: inline-block;
        font-family: 'Encode Sans Condensed', sans-serif;
        width: 100%;
    }
    .menu-item {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 33.3333%;
    }
    .menu-item a {
        color: inherit;
        display: block;
        font-size: 1rem;
        line-height: 1;
        padding: 0.625rem 0;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
    }
    .menu-item a .menu-item-text {
        display: block;
        font-size: 0.750rem;
        font-weight: 400;
        margin-top: 0.375rem;
        width: 100%;
    }
    .menu-item a:hover {
        background: #778899;
        color: #efefef;
    }
    /* Footer */
    footer {
        background: #00000e;
        color: #efefef;
        display: block;
        font-size: 0.75rem;
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
    /* Content Types */
    .content, .feature, .hero, .projects {
        padding: 1.5rem;
    }
    .content {
        padding-bottom: 4.5rem;
        padding-top: 4.5rem;
    }
    .content-container {
        max-width: 720px;
    }
    .feature {
        padding-bottom: 6rem;
        padding-top: 6rem;
    }
    .hero {
        padding-bottom: 8rem;
        padding-top: 8rem;
    }
    .hero img, .content img {
        height: auto;
        max-width: 720px;
        width: 100%;
    }
    .projects {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
    .content h1, .projects h1, .content h2, .projects h2, .content h3, .projects h3, .content h4, .projects h4, .content h5, .projects h5, .content h6, .projects h6 {
        color: #b56525;
    }
    .hero-bg-reverse {
        background-color: #3838af;
        background-size: cover;
        box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.5);
        color: #eff4ff;
    }
    .hero-bg-reverse h1, .hero-bg-reverse h2, .hero-bg-reverse h3, .hero-bg-reverse h4, .hero-bg-reverse h5, .hero-bg-reverse h6, .hero-bg-reverse p {
        color: #eff4ff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.67);
    }
    .hero-home {
        background: url('./assets/img/home_bg_3.jpg') center/cover no-repeat;
    }
    .hero-projects {
        background: url('./assets/img/projects_bg.jpg') center/cover no-repeat;
    }
    .hero-skills {
        background: url('./assets/img/skills_bg.jpg') center/cover no-repeat;
    }
    .featured-baseofclubs {
        background: #202b5b url('./assets/img/feature-baseofclubs-bg.jpg') center/cover no-repeat;
    }
    .hero-home h1 {
        animation: slowgrow 30s ease-out forwards;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.67);
        transform-origin: left center;
    }
    .icons {
        color: #ff8e34;
        margin: 0 auto;
        text-align: center;
    }
    .tech-icons {
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.67);
        box-shadow: 0 5px 5px rgba(0, 0, 0, .67);
        display: inline-block;
        left: 1rem;
        line-height: 1;
        padding: 0.125rem 0.25rem;
        position: absolute;
        top: 2rem;
    }
    .skills-pills {
        display: block;
        font-family: 'Encode Sans Condensed', sans-serif;
        margin: 0;
        max-width: 720px;
        width: 100%;
    }
    .skills-pills li {
        background: #6a5acd;
        border: 0;
        border-radius: 25px;
        display: inline-block;
        margin-bottom: 0.6250rem;
        margin-right: 0.6250rem;
        padding: 0.3125rem 0.625rem;
    }
    .links-container {
        background: #202b5b;
        border-radius: 15px;
        padding: 0.625rem 1.125rem 1.125rem;
    }
    .links-header h3 {
        color: #eff4ff;
    }
    .links-container ul {
        background: #eff4ff;
        border-radius: 15px;
        list-style-type: none;
        margin: 0;
        padding: 1.125rem;
    }
    .links-container ul li {
        margin: 0;
    }
    .links-container i, .links-container svg {
        margin-right: 0.3125rem;
    }
    /* Buttons, Links and Forms */
    .content a, .content a:link, .feature a, .feature a:link, .hero a, .hero a:link, .projects a, .projects a:link {
        color: #202b5b;
    }
    .content a:visited, .feature a:visited, .hero a:visited, .projects a:visited {
        color: #5b3275;
    }
    .content a:hover, .content a:active, .feature a:hover, .feature a:active, .hero a:hover, .hero a:active, .projects a:hover, .projects a:active {
        color: #ff8e34;
    }
    .btn, .btn:link, .btn:visited, a.btn, a.btn:link, a.btn:visited {
        background: orange;
        border: 2px solid orange;
        border-radius: 3px;
        color: #fefefe;
        cursor: pointer;
        display: inline-block;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding: 1rem 2.5rem;
        text-decoration: none;
        text-shadow: none;
    }
    .btn:last-of-type {
        margin-right: 0;
    }
    .btn-cta-ghost, .btn-cta-ghost:link, .btn-cta-ghost:visited, a.btn-cta-ghost, a.btn-cta-ghost:link, a.btn-cta-ghost:visited {
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.33);
        color: orange;
    }
    .btn:hover, .btn:active, a.btn:hover, a.btn:active, a.btn-cta-ghost:hover, a.btn-cta-ghost:active {
        background: #fefefe;
        color: orange;
    }
    a.icon h3 {
        color: inherit;
    }
    a.icon, a.icon:link, a.icon:visited {
        color: #b56525;
        text-decoration: none;
    }
    a.icon:hover, a.icon:active {
        color: orange;
    }
    .project-item a {
        text-decoration: none;
    }
    /* Helper Classes */
    .buffer-top {
        padding-top: 1rem;
    }
    .buffer-top-2x {
        padding-top: 2rem;
    }
    .buffer-top-3x {
        padding-top: 3rem;
    }
    .buffer-top-4x {
        padding-top: 4rem;
    }
}

@media only screen and (min-width: 480px) {
    .grid-3>.col {
        /* full width at <480 */
        display: inline-block;
        padding: 1rem;
        vertical-align: top;
        width: 33.33333%;
    }
    .project-item {
        align-items: flex-start;
        flex: 1 1 50%;
        padding: 0 1.250rem 0.6250rem 0;
    }
    /*.project-item.grow-2 {
  flex: 2 1 66.6666%;
}
.project-item.grow-3 {
  flex: 3 2 100%;
}
.project-item.grow-4 {
  flex: 4 3 100%;
}*/
}

@media only screen and (min-width: 640px) {
    h1 { font-size: 3.0000rem;	line-height: 1.25;	margin-bottom: 1.0rem;	}
	h2 { font-size: 2.2500rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h3 { font-size: 1.5000rem;	line-height: 1.25;	margin-bottom: 0.5rem;	}
	h4 { font-size: 1.3125rem;	line-height: 1.25;	margin-bottom: 0.5rem; 	}
	h5 { font-size: 1.1250rem;	line-height: 1.25;  margin-bottom: 0.5rem;	}
	h6 { font-size: 1.0000rem;  line-height: 1.25;  margin-bottom: 0.5rem;	}
}

@media only screen and (min-width: 768px) {
    .grid-container {
        max-width: 768px;
    }
    .site-header {
        display: inline-block;
        padding: 1.25rem;
        text-align: left;
        vertical-align: middle;
        width: auto;
    }
    .site-header-main {
        font-size: 1.5rem;
        text-transform: initial;
    }
    .site-header-sub {
        font-size: 1.00rem;
    }
    .site-nav {
        background: transparent;
        color: #efefef;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        vertical-align: middle;
        width: auto;
        z-index: 1;
    }
    .menu-item {
        width: auto;
    }
    .menu-item a {
        box-sizing: border-box;
        font-size: 1.125rem;
        padding: 1.25rem 2rem;
    }
    .menu-item a:hover {
        animation: bottomline 0.25s ease-out forwards;
        background: transparent;
        border-bottom: 3px solid #b56525;
        /*position: relative;*/
    }
    .menu-item a .menu-item-text {
        /*display: inline;*/
        font-size: 1rem;
        /*margin: 0;*/
        width: auto;
    }
    .anim-bg:hover {
        animation: backgroundzoom 0.5s linear forwards;
    }
    .project-item {
        flex: 0 1 33.3333%;
    }
}

@media only screen and (min-width: 980px) {
    .grid-container {
        max-width: 980px;
    }
}

@media only screen and (min-width: 1280px) {}

@media only screen and (min-width: 1600px) {
    .feature {
        padding-bottom: 12rem;
        padding-top: 12rem;
    }
    .grid-container {
        max-width: 1280px;
    }
    .grid-container .grid-container {
        margin: 0;
        max-width: 50%;
    }
    .project-item {
        flex: 0 1 25%;
    }
    /*.project-item.grow-2 {
  flex: 2 2 50%;
}
.project-item.grow-3 {
  flex: 3 3 75%;
}
.project-item.grow 4 {
  flex: 4 4 100%;
}*/
}

@media only screen and (min-width: 1920px) {}

/* Animations */

@keyframes backgroundzoom {
    0% {
        background-size: 100%;
        opacity: 1;
    }
    100% {
        background-size: 103%;
        opacity: 0.67;
    }
}

@keyframes bottomline {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.67);
        color: #efefef;
        transform: translateY(0px);
    }
    100% {
        box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.67);
        background: rgb(245, 246, 244);
        color: #0e0e0e;
        transform: translateY(-4px);
    }
}

@keyframes slowgrow {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.125, 1.125);
    }
}