<div class="grid-container-fluid hero-bg-reverse hero-skills">
    <div class="grid-container">
        <div class="hero">
            <h1 class="buffer-top-4x">Skills</h1>
        </div>
    </div>
</div>


<div class="grid-container-fluid">
    <div class="grid-container">
        <div class="projects">
            <div class="project-grid">
                <div class="project-item">
                    <h3>Front End</h3>
                    <ul>
                        <li>HTML (5+ years)</li>
                        <li>
                            CSS (5+ years)<br />
                            + Responsive Design (3+ years)<br />
                            + Bootstrap (&lt;1 year)<br />
                            + Materialize (&lt;1 year)
                        </li>
                        <li>
                            JavaScript (3+ years)<br />
                            + jQuery (1+ years)
                        </li>
                    </ul>
                </div>
                <div class="project-item">
                    <h3>Back End</h3>
                    <ul>
                        <li>Node.js (&lt;1 year)</li>
                        <li>ExpressJS  (&lt;1 year)</li>
                        <li>C# / ASP.Net MVC <em>(Learning Now)</em></li>
                    </ul>
                </div>
                <div class="project-item">
                    <h3>Data Handling</h3>
                    <ul>
                        <li>SQL (1+ years)</li>
                        <li>Sequelize (&lt;1 year)</li>
                        <li>MongoDB  (&lt;1 year)</li>
                        <li>Mongoose (&lt;1 year)</li>
                        <li>Firebase Database (&lt;1 year)</li>
                        <li>RESTful APIs (&lt;1 year)</li>
                        <li>Kentico Cloud <em>(Learning Now)</em></li>

                    </ul>
                </div>
            </div>
            <div class="project-grid">
                <div class="project-item">
                    <h3>Templates/View Engines</h3>
                    <ul>
                        <li>Kentico CMS portal engine (3+ years)</li>
                        <li>K# Macro Language (3+ years)</li>
                        <li>React (&lt; 1 year)</li>
                        <li>Handlebars (&lt; 1 year)</li>
                    </ul>
                </div>
                <div class="project-item">
                    <h3>Hosting + Deployment</h3>
                    <ul>
                        <li>Heroku (&lt;1 year)</li>
                        <li>MS Azure <em>(Learning Now)</em></li>
                    </ul>
                </div>
                <div class="project-item">
                    <h3>Other Skills</h3>
                    <ul>
                        <li>Adobe Photoshop (5+ years)</li>
                        <li>Adobe XD <em>(Learning Now)</em></li>
                        <li></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>