<main>
    <article class="content content-skills">
				<div class="container">

					<header>
						<h1>Skills</h1>
						<p>All of the tools available from my toolbox, and where I've used them.</p>
					</header>
					<section>
						<h2 class="subhead">Front End Development</h2>
						<div class="features-header">Personal</div>
						<div class="features-header">Professional</div>
						<div class="features-skill">HTML</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">CSS</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
            <div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
            <div class="features-skill">Sass</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">JavaScript</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">jQuery</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">Responsive Design</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">Bootstrap</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">Kentico CMS Portal Engine</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">K# Macro Language</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">Angular6+</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill no"></div>
						<div class="features-skill">React</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill no"></div>
					</section>
					<section>
						<h2 class="subhead">Back End Development / Prototyping</h2>
						<div class="features-header">Personal</div>
						<div class="features-header">Professional</div>
						<div class="features-skill">Node</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">Express</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">C# / .Net MVC</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill no"></div>
					</section>
					<section>
						<h2 class="subhead">Data Layer</h2>
						<div class="features-header">Personal</div>
						<div class="features-header">Professional</div>
						<div class="features-skill">Kentico Cloud API</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">SQL / Sequelize</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">MongoDB / Mongoose</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill no"></div>
					</section>
					<section>
						<h2 class="subhead">Dev Ops / Deployment</h2>
						<div class="features-header">Personal</div>
						<div class="features-header">Professional</div>
						<div class="features-skill">MS Azure</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill">Heroku</div>
						<div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
						<div class="features-skill no"></div>
          </section>
          <section>
              <h2 class="subhead">Tools</h2>
              <div class="features-header">Personal</div>
              <div class="features-header">Professional</div>
              <div class="features-skill">Version Control (Git, TFS)</div>
              <div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
              <div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
              <div class="features-skill">Visual Studio</div>
              <div class="features-skill yes"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
              <div class="features-skill no"><svg><circle cx="50%" cy="50%" r="8"></circle></svg></div>
            </section>
				</div>
			</article>
</main>
